:root {
  --ifm-color-primary: #5e81ac;
  --ifm-color-primary-dark: #88c0d0;
  --ifm-color-primary-darker: #81a1c1;
  --ifm-color-primary-darkest: #5e81ac;
  --ifm-color-primary-light: #8fbcbb;
  --ifm-color-primary-lighter: #88c0d0;
  --ifm-color-primary-lightest: #81a1c1;
}

[data-theme="dark"] {
  --ifm-background-color: #2e3440;
  --ifm-background-surface-color: #3b4252;
  --ifm-color-primary: #88c0d0;
  --ifm-color-primary-dark: #81a1c1;
  --ifm-color-primary-darker: #5e81ac;
  --ifm-color-primary-darkest: #4c566a;
  --ifm-color-primary-light: #8fbcbb;
  --ifm-color-primary-lighter: #88c0d0;
  --ifm-color-primary-lightest: #81a1c1;
}
